body{
background-color: #e7b1c5;
animation: b 9s infinite;
}

#head1 {
position: fixed;
top: 100px;
right: 100px;
color: #087f85;
font-family: georgia,serif;
font-size: 45px;
text-align: right;
text-shadow:1px 1px 1px pink;
z-index: 10;
}

/*ABOUT*/


#para{
position: absolute;
top: 100px;
right: 100px;
left:100px;
color: white;
font-family: georgia,serif;
font-size: 24px;
font-weight: light;
text-align: right;
text-shadow:1px 1px 1px pink;
z-index:10;
}

/*BUTTON*/

.dropbtn {
  position: fixed;
  top: 225px;
  right: 100px;
  height: 140px;
  width: 140px;
  background-color: #087f85;
  color: #C5E0DC;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius:80%;
  z-index:10;
}

.dropdown {
  position: fixed;
  top: 275px;
  right: 180px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #424254;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: georgia,serif;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #8c1946;}


/*DATAVIZ*/


div.viz{
  position: absolute;
  top: 400px;
  /*right: 400px;*/
  left: 100px;
  width: 500px;
  height: 1000px;
  animation: bounce 12s infinite;
  z-index:10;
}


/*ROTATING GALLERY*/


div.gallery  {
  position: absolute;
  top: 1200px;
  right: 250px;
  left: 450px;
  z-index:8;
  animation: bounce 18s infinite;
  --s: 280px; 
  
  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  overflow: hidden;
  padding: calc(var(--s)/20);
  border-radius: 50%;
  border-color: black;
  clip-path: circle(49.5%);
}
.gallery > img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: 50% 120.7%;
}
.gallery > img {
  animation: n 12s infinite cubic-bezier(.5,-0.2,.5,1.2);
}
.gallery > img:nth-child(2) {animation-delay: -3s}
.gallery > img:nth-child(3) {animation-delay: -6s}
.gallery > img:nth-child(4) {animation-delay: -9s}


/*SLIDING GALLERIES*/


div.slider {
  position: absolute;
  top: 600px;
  right: 250px;
  left: 450px;
  overflow: hidden;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  clip-path: circle(49.5%);
  animation: bounce 24s infinite alternate;
  z-index: 6;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slidel 10s infinite;
}
.slider .slide:nth-child(1) {
  background-image: url('slider1_sights/inca_trail.png');
  animation-delay: -0;
}
.slider .slide:nth-child(2) {
  background-image: url('slider1_sights/treewithoutbk.png');
  animation-delay: -2s;
}
.slider .slide:nth-child(3) {
  background-image: url('slider1_sights/mbridge.png');
  animation-delay: -4s;
}
.slider .slide:nth-child(4) {
  background-image: url('slider1_sights/kashakatuwe.png');
  animation-delay: -6s;
}
.slider .slide:nth-child(5) {
  background-image: url('slider1_sights/valero.png');
  animation-delay: -8s;
}


div.slider2 {
  position: absolute;
  top: 1350px;
  right: 250px;
  left: 400px;
  border-radius: 50%;
  overflow: hidden;
  width: 800px;
  height: 800px;
  clip-path: circle(49.5%);
  animation: bounce 36s infinite alternate;
  z-index: 7;
}

.slider2 .slide2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider 10s infinite;
}

.slider2 .slide2:nth-child(1) {
  background-image: url('slider2_touch/goodbye.png');
  animation-delay: -0;
}

.slider2 .slide2:nth-child(2) {
  background-image: url('slider2_touch/treewithbk2.png');
  animation-delay: -2s;
}
  
.slider2 .slide2:nth-child(3) {
  background-image: url('slider2_touch/enough.png');
  animation-delay: -4s;
}
  
.slider2 .slide2:nth-child(4) {
  background-image: url('slider2_touch/testimony.png');
  animation-delay: -6s;
}

.slider2 .slide2:nth-child(5) {
  background-image: url('slider2_touch/prayer2.png');
  animation-delay: -8s;
}


/*ROTATING GALLERY2*/


div.gallery2  {
  position: absolute;
  top: 1700px;
  right: 250px;
  left: 900px;
  z-index:8;
  --s: 420px; 
  
  display: grid;
  width: var(--s);
  aspect-ratio: 1;
  overflow: hidden;
  padding: calc(var(--s)/20);
  border-radius: 50%;
  clip-path: circle(49.5%);
  animation: bounce 18s infinite;
}
.gallery2 > img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transform-origin: 50% 120.7%;
}
.gallery2 > img {
  animation: m 12s infinite cubic-bezier(.5,-0.2,.5,1.2);
}
.gallery2 > img:nth-child(2) {animation-delay: -3s}
.gallery2 > img:nth-child(3) {animation-delay: -6s}
.gallery2 > img:nth-child(4) {animation-delay: -9s}


/*PLAYLIST*/
/*adapted from https://dev.to/pachicodes/creating-a-css-modal-window-pop-up-step-by-step-1f59*/
.open{
    position: fixed;
    top: 345px;
    right: 115px;
    font-family: georgia,serif;
    font-size: 24px;
}


#modal {
    position: fixed;
    top: 245;
    left: 200;
    height: 100%;
    width: 100%;
    /*background-color: rgba(0,0,0,.5);*/
    font-family: georgia,serif;
    display: flex;
    justify-content: left;
    align-items: center;
}

.modal__window {
  position: relative;
  background-color: white;
  padding: 4em 2em;
}

.modal__close {
  position: absolute;
  top: -30px;
  right: 0;
}

#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}


/*TOUCH IMAGES*/

.photo_sq1{
  position: absolute;
  top:345px;
  left:100px;
  height: 300px ;
  width: 300px;
  transform: scale(.5);
}
.photo_sq2{
  position: absolute;
  top:345px;
  left:600px;
  height: 300px ;
  width: 300px;
  transform: scale(.5);
}
.photo_sq3{
  position: absolute;
  top:345px;
  left:1100px;
  height: 300px ;
  width: 300px;
  transform: scale(.5);
}



/*KEYFRAMES*/

/*adapted from https://css-tricks.com/css-only-infinite-and-circular-image-slider/*/
@keyframes n {
  0%,3%    {transform: rotate(-0)}
  22%,27%  {transform: rotate(90deg)}
  47%,52%  {transform: rotate(180deg)}
  72%,77%  {transform: rotate(270deg)}
  98%,100% {transform: rotate(360deg)}
}

@keyframes m {
  0%,3%    {transform: rotate(0)}
  22%,27%  {transform: rotate(-90deg)}
  47%,52%  {transform: rotate(-180deg)}
  72%,77%  {transform: rotate(-270deg)}
  98%,100% {transform: rotate(-360deg)}
}

@keyframes bounce{
  0%,100%{transform: translateY(0);}
  50%{transform: translateY(-150px);}
}

/*adapted from https://unused-css.com/blog/css-only-background-slider*/
@keyframes slidel {
  0%, 15%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  95% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}

@keyframes slider {
  0%, 15%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(100%);
    animation-timing-function: step-end;
  }
  95% {
    transform: translateX(-100%);
    animation-timing-function: ease;
  }
}


@keyframes b {
  0%,3%   {background: #856959}/*tan*/
  14%,19% {background: #C5E0DC}/*mint*/
  31%,36% {background: #036564} /*teal*/
  45%,55% {background: #B38184}/*rose*/
  64%,69% {background: #424254}/*plum*/
  81%,86% {background: #4DBCE9}/*skyblue*/
  97%,to  {background: #d1a890}/*#774F38}*/
}



